
@{

}
    <h1>@ViewBag.title</h1>


    <form method="post">
        @foreach (var cheese in ViewBag.Cheeses)
        {
            <input type="checkbox" name="cheeseIds" id="@cheese.CheeseId" value="@cheese.CheeseId" />
            <label for="@cheese.CheeseId">@("Cheese Name - " + cheese.Name + " Cheese Description - " + cheese.Description)</label> 
            <br />
        }

        <input type="submit" value="Remove Selected Cheese(s)" />
    </form>


